/*-------------------------
  colors
-------------------------*/
:root {
  /* #63768D */
  --background-color: #272727;
  /* --background-color: #392b58; */
  /* --card-color: #645e9d; */
  --card-color: #131214;
  --glow-effect: #6130eb;
  --glow-effect-2: #F2BB05;
  /* --text-effect-1: rgba(5,242,152,1);
  --text-effect-2: rgba(94,42,237,1);	 */
  --text-effect-1: #05f298;
  --text-effect-2: #6130eb;
}


html {scroll-behavior: smooth;}

body {
  padding: 0;
  margin: 0;
  /* background-color: #17181A; */
  /* background-color:  #1b1724; */
  /* background-color:  #110d1b; */
  /* background-color:  #100e17; */
  background-color: var(--background-color);
  color: white;
  font-family: 'DM Mono', monospace;
  overflow-x: hidden;
}

/*-------------------------
  project cards  
-------------------------*/
/* scroll bar for the card list */

/* .card-list::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.card-list::-webkit-scrollbar-thumb {
  background: #201c29;
  border-radius: 10px;
  box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.25);
}

.card-list::-webkit-scrollbar-track {
  background: linear-gradient(90deg,#201c29,#201c29 1px,#17141d 0,#17141d);
} */

h1 {text-align: center;}

/*-------------------------
  Menu  
-------------------------*/

.menu {
  cursor: pointer;
  display: flex;
  border-radius: 7px;
  width: 100%;
  max-width: 800px;
  margin: auto auto;
  padding: 5px;
  background-color: black;
  height: 100px;
  border-radius: 7px;
  position: relative;
  z-index: 10;
  margin-top: 2rem;
}

@media only screen and (max-width: 850px) {
  .menu {
    max-width: 95%;
    max-height: 80px;
    margin: auto auto;
    -webkit-backface-visibility: hidden;
  }
}

.menu a {
  background-image: linear-gradient(to top, #242424 0%, #303030 100%);
  flex: 1; /* fills the space of its contianer */
  display: flex;
  justify-content: center;  /* center the images within the <a> */
  align-items: center;  /* doesn't cause the images within the <a> to be stretched */
  margin: 1px;
  transition: .2s;
  box-shadow: inset 0 20px 4px -21px rgba(255,255,255,0.4), 0 19px 13px 0 rgba(0,0,0,0.3);
  text-decoration: none;
  user-select: none;
}

.menu img {
  user-select: none;
  width: 100%;
  max-width: 50px;
  border-radius: 16px;
}

.menu i {
	font-size: 3rem;
	color: black;
	border-radius: 30px;
	padding: 5px;
}

.menu-button::before {
  content: "";
  display: block;
  width: 0.8em;
  height: 0.8em;
  transition: 0.1s;
  /* background-image: radial-gradient(circle 10px at center, #ebf7ff 0%, #b3e1ff 47%, #b3e1ff 100%); */
  position: absolute;
  filter: blur(5px);
  padding: 3px;
  border-radius: 50%;
}

.menu-button:hover::after {
  color: white;
  padding: 1rem 1rem;
  display: block;
  text-align: center;
  border-radius: 10px;
  font-size: 1.25rem;

  width: 100%;
  max-width: 8rem;
  position: absolute;
  transform: translateY(90px);
  background-color: var(--card-color);
}

/* drop down text on menu button hover */
.menu-button:nth-child(1):hover::after {content: "Home";}
.menu-button:nth-child(2):hover::after {content: "Resume"}
.menu-button:nth-child(3):hover::after {content: "Linkedin"}
.menu-button:nth-child(4):hover::after {content: "Github"}
.menu-button:nth-child(5):hover::after {content: "Projects"}
.menu-button:nth-child(6):hover::after {content: "Contact Me"}

/* changing the shadow color of the drop down button text on hover */
.menu-button:hover::after {box-shadow: 1rem .5rem 1rem black, -1rem .5rem 1rem black;}

/*-------------------------
  bio card 
-------------------------*/
.bio {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 550px;
	max-width: 30rem;
	margin: 0 auto;
	background-color: var(--card-color);
	border-radius: 16px;
	box-shadow: 1rem .5rem 3rem #000, -1rem .5rem 3rem #000, 0rem 1rem 3rem #000;
}

.bio h1,
.bio p {
	background: linear-gradient(90deg, var(--text-effect-1), var(--text-effect-2));
	text-shadow: none;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
} 

.bio img {
	width: 100%;
	border-radius: 90px;
	background-color: white;
	max-width: 10rem;
	margin: 0 auto;
	margin-top: 1rem;
	box-shadow: 1rem .5rem 3rem black, -1rem .5rem 3rem black;
}

.bio h1, .bio p {
  	text-align: center;
  	font-size: 2rem;
}

.bio p {
  	padding: 0 1rem;
  	font-size: 1.25rem;
}

@media only screen and (max-width: 600px) {
  .bio {max-width: 90%;}
  .bio p {font-size: .9rem;}
  .bio h1 {font-size: 1rem;}
}

@media only screen and (max-width: 500px) {
	.bio img {max-width: 40%;}
  }

/*-------------------------
  project cards  
-------------------------*/
.card-list {
	display: flex;
	margin: 0rem auto;
	padding: 4rem 3rem;
	overflow-x: auto;
	width: 100%;
	max-width: 95%;
}

.card {
	display: flex;
	flex-direction: column;
	position: relative;
	border-radius: 16px;
	height: 29rem;
	width: 100%;
	max-width: 20rem;
	min-width: 20rem;
	padding: 1rem .5rem;
	/* background-color: #4b42ff; */
	/* background-color: #191425; */
	background-color: var(--card-color);
	box-shadow: -1rem 0 3rem #000;
	transition: .5s;
}

.card:hover {transform: translateY(-2rem);} /* move the card up on hover */
.card:hover~.card {transform: translateX(6rem);}  /* move all the cards to the right on a hovered card */
.card:not(:first-child) {margin-left: -5rem;} /* to make it appear as if the cards are overrlapping each other */
.card header, .card i {transition: .75s;}  

/* changing the shadow color of the card on hover */
.card:hover{box-shadow: 1rem .5rem 2rem var(--glow-effect), -1rem .5rem 2rem var(--glow-effect);}
.card:hover header, 
.card:hover h2, 
.card:hover .tools span {
	background: linear-gradient(90deg, var(--text-effect-1), var(--text-effect-2));
	text-shadow: none;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.card header h1, 
.card header p {text-align: center;}

.project-links {
	display: flex;
	justify-content: space-around;
}

.project-links img,
.project-links i {vertical-align: bottom; border-radius: 5px;}

.card a {height: 100%;}

.card a:hover {
	animation: shake 0.5s;
	animation-iteration-count: 1; 
}

@keyframes shake {
	0% { transform: translate(1px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(3px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(3px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(1px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.card i {
	background-color: #17181A;
	color: white;
	font-size: 3rem;
}

.card img {
	width: 100%;
	max-width: 3rem;
	background-color: white;
}

.card h2 {text-align: center;}

.tools {
	width: 100%;
	display: grid;
	grid-gap: 10px 5px;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	grid-template-rows: auto;
}

.tools span {
	text-align: center;
	display: inline;
	border: solid;
	border-radius: 16px;
	border-width: 2px;
}

/*-------------------------
  progress bar inside the project cards  
-------------------------*/

.progress {
	border-radius: 30px;
	padding: .25rem .25rem;
	background: rgba(0, 0, 0, 0.25);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-value {
	border-radius: 30px;
	padding: .75rem 0;
	width: 7%;
	transition: 1.5s;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
}

/* change the color of the progress bar */
.card:hover .progress-value {background-image: linear-gradient(to right, var(--text-effect-1) 0%, var(--text-effect-2) 100%);}

/* progress bar lengths */
.card:hover:nth-child(1) .progress-value {width: 80%;}  /* pathfinder interactive */
.card:hover:nth-child(2) .progress-value {width: 94%;}  /* carlos-castillo-portfolio v2 */
.card:hover:nth-child(3) .progress-value {width: 35%;}  /* gift-ee */
.card:hover:nth-child(4) .progress-value {width: 85%;}	/* text-mockify */
.card:hover:nth-child(5) .progress-value {width: 100%;}
.card:hover:nth-child(6) .progress-value {width: 100%;}
.card:hover:nth-child(7) .progress-value {width: 100%;}
.card:hover:nth-child(8) .progress-value {width: 100%;}

/*-------------------------
  contact me cards 
-------------------------*/
.card-list.contact-me {justify-content: center;}

.card.email-option {
	user-select: none;
	text-decoration: none; 
	color: white;
	justify-content: center;
	height: 200px;
	cursor: pointer;
}

@media only screen and (max-width: 1000px) {
	.email-option {
		max-width: 30%;
		min-width: 30%;
	}
}

@media only screen and (max-width: 450px) {
	.email-option {
		max-width: 8rem;
		min-width: 8rem;
	}
}

/*-------------------------
  carousel
-------------------------*/
#page-content {
	display: inline-block;
	overflow: hidden;
	display: flex;
	align-items: center;
	margin-top: 5%;
	padding: 5rem 0;
}

.slide {width: 100%; transition: 1s ease-in-out;} /* so that it fades in slowly */
.slide:nth-child(2), .slide:nth-child(3) {display: none;} /* ensures only one page is loaded on page landing */