html {scroll-behavior: smooth;}

body {
  padding: 0;
  margin: 0;
  /* background-color: #17141D; */
  background-color: #17181A;
  /* background-color:  #1b1724; */
  background-color:  #110d1b;
  color: white;
  font-family: 'DM Mono', monospace;
  overflow-x: hidden;
}

/*-------------------------
  project cards  
-------------------------*/
/* scroll bar for the card list */

/* .card-list::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.card-list::-webkit-scrollbar-thumb {
  background: #201c29;
  border-radius: 10px;
  box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.25);
}

.card-list::-webkit-scrollbar-track {
  background: linear-gradient(90deg,#201c29,#201c29 1px,#17141d 0,#17141d);
} */


/*-------------------------
  bio card 
-------------------------*/
.bio {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 550px;
  max-width: 30rem;
  margin: 5rem auto;
  background-color: #131214;
  border-radius: 16px;
  box-shadow: 1rem .5rem 2rem #000, -1rem .5rem 2rem #000;
}

.bio img {
  width: 100%;
  border: solid;
  border-radius: 90px;
  background-color: white;
  max-width: 10rem;
  margin: 0 auto;
  margin-top: 1rem;
}

.bio h1, .bio p {
  text-align: center;
  font-size: 2rem;
}

.bio p {
  padding: 0 1rem;
  font-size: 1.25rem;
}

/*-------------------------
  Menu  
-------------------------*/

/* .menu {
  position: relative;
  z-index: 2;
  display: flex;
  max-width: 600px;
  margin: 0 auto;
  height: 100px;
  background-color: #000;
  border-radius: 7px;
  padding: 4px;
}

.menu a {
  cursor: pointer;
  flex: 1;
  background-image: linear-gradient(to top, #242424 0%, #303030 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1px;
  transition: 0.2s;
  font-size: 2.5em;
  box-shadow: inset 0 20px 4px -21px rgba(255,255,255,0.4), 0 19px 13px 0 rgba(0,0,0,0.3);
  color: #181818;
  position: relative;
  z-index: 2;
} */

.menu {
  cursor: pointer;
  display: flex;
  border-radius: 7px;
  width: 100%;
  max-width: 600px;
  margin: auto auto;
  padding: 5px;
  background-color: black;
  height: 100px;
  border-radius: 7px;
}

.menu a {
  background-image: linear-gradient(to top, #242424 0%, #303030 100%);
  flex: 1; /* fills the space of its contianer */
  display: flex;
  justify-content: center;  /* center the images within the <a> */
  align-items: center;  /* doesn't cause the images within the <a> to be stretched */
  margin: 1px;
  transition: .2s;
  box-shadow: inset 0 20px 4px -21px rgba(255,255,255,0.4), 0 19px 13px 0 rgba(0,0,0,0.3);

  /* background-image: radial-gradient(circle 30px at center, #ebf7ff 0%, #b3e1ff 47%, #b3e1ff 100%); */
}

.menu img {
  user-select: none;
  width: 100%;
  max-width: 50px;
  border-radius: 10px;
  /* padding: 10px; */
  /* box-shadow: 0px 0px 30px #ebf7ff; */
  /* box-shadow: inset 0 16px 14px -21px transparent, 0 0px 13px 0 rgba(0,0,0,0.3), inset 0 0 7px 2px rgba(0,0,0,0.4); */
}

h1 {text-align: center;}  /* title of each section */

/*-------------------------
  project cards  
-------------------------*/

.card-list {
  display: flex;
  margin: 0rem auto;
  padding: 3rem 3rem;
  overflow-x: auto;
  width: 100%;
  max-width: 95%;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  height: 29rem;
  max-width: 20rem;
  min-width: 20rem;
  padding: 1rem .5rem;
  /* background-color: #4b42ff; */
  /* background-color: #191425; */
  background-color: #131214;
  box-shadow: -1rem 0 3rem #000;
  transition: .5s;
}

.card:hover {transform: translateY(-2rem);} /* move the card up on hover */
.card:hover~.card {transform: translateX(6rem);}  /* move all the cards to the right on a hovered card */
.card:not(:first-child) {margin-left: -5rem;} /* to make it appear as if the cards are overrlapping each other */
.card header, .card i {transition: .75s;}  

/* changing the color text of each card */
.card:hover:nth-child(4n+1) header, 
.card:hover:nth-child(4n+1) h2, 
.card:hover:nth-child(4n+1) .tools span {
  background: linear-gradient(90deg, #88FFD1, #2BC4A2);
  text-shadow: none;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card:hover:nth-child(4n+2) header, 
.card:hover:nth-child(4n+2) h2, 
.card:hover:nth-child(4n+2) .tools span {
  background: linear-gradient(90deg, #ACF1FF, #0290EE );
  text-shadow: none;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card:hover:nth-child(4n+3) header, 
.card:hover:nth-child(4n+3) h2, 
.card:hover:nth-child(4n+3) .tools span {
  background: linear-gradient(90deg, #D9BFFF, #582ACB);
  text-shadow: none;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card:hover:nth-child(4n+4) header, 
.card:hover:nth-child(4n+4) h2, 
.card:hover:nth-child(4n+4) .tools span {
  background: linear-gradient(90deg,#FFD567, #FF7139);
  text-shadow: none;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card header h1, 
.card header p {text-align: center;}

.project-links {
  display: flex;
  justify-content: space-around;
}

.card a {height: 100%;}

.card a:hover {
  animation: shake 0.5s;
  animation-iteration-count: 1; 
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.card i {
  background-color: #17181A;
  color: white;
  font-size: 3rem;
}

.card img {
  width: 100%;
  max-width: 3rem;
  background-color: white;
}

.card h2 {text-align: center;}

.tools {
  width: 100%;
  display: grid;
  grid-gap: 10px 5px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: auto;
}

.tools span {
  text-align: center;
  display: inline;
  border: solid;
  border-radius: 16px;
  border-width: 2px;
}

/*-------------------------
  progress bar inside the project cards  
-------------------------*/

.progress {
  border-radius: 30px;
  padding: .25rem .25rem;
  background: rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-value {
  border-radius: 30px;
  padding: .75rem 0;
  width: 7%;
  transition: 1.5s;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
}

/* changet the color of the progress bar */
.card:hover:nth-child(4n+1) .progress-value {background-image: linear-gradient(to bottom, #88FFD1, #2BC4A2);}
.card:hover:nth-child(4n+2) .progress-value {background-image: linear-gradient(to bottom, #ACF1FF, #0290EE);}
.card:hover:nth-child(4n+3) .progress-value {background-image: linear-gradient(to bottom,#D9BFFF, #582ACB);}
.card:hover:nth-child(4n+4) .progress-value {background-image: linear-gradient(to bottom,#FFD567, #FF7139);}

/* progress bar lengths */
.card:hover:nth-child(1) .progress-value {width: 80%;}  /* pathfinder interactive */
.card:hover:nth-child(2) .progress-value {width: 40%;}  /* carlos-castillo-portfolio v2 */
.card:hover:nth-child(3) .progress-value {width: 35%;}  /* gift-ee */
.card:hover:nth-child(4) .progress-value {width: 100%;}
.card:hover:nth-child(5) .progress-value {width: 100%;}
.card:hover:nth-child(6) .progress-value {width: 100%;}
.card:hover:nth-child(7) .progress-value {width: 100%;}